
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login First</title>
    <link rel="icon" href="~/Content/Imagens/Logo Lavi .png" />
    <link rel="stylesheet" href="~/Scripts/Tema/global/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body class="text-center">
    <!--Classe container é uma parte do site que fica mais centralizada -->
    <form action="/login/VerificaLogin" method="post">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <img src="~/Content/Imagens/Logo Lavi Preto.png" />
                <div>
                    <!--<label class="font-weight-bold" for="campo-login">Login</label>-->
                    <input type="text" id="campo-login" name="login" class="form-control" maxlength="45" placeholder="Login" />
                </div>
                <div>
                    <!--<label class="font-weight-bold" for="campo-senha">Senha</label>-->
                    <input type="text" id="campo-senha" name="senha" class="form-control " maxlength="45" placeholder="Senha" />
                </div>
                <button class="btn btn-primary mt-3 " type="submit"><i class="fa fa-sign-in"></i> Entrar</button>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </form>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
