<div id="modal-caixa" class="modal fade" tabindex="-1" role="dialog" style="z-index: 1050;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg ">
            <div class="modal-header">
                <h5 class="modal-title"><b>Cadastro de Caixa</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-operacao">Operação</label>
                            <select class="form-control" name="forma-pagamento" id="caixa-campo-operacao">
                                <option disabled="disabled" selected="selected">Selecione uma operação</option>
                                <option>Entrada</option>
                                <option>Saida</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-historico">Histórico</label>
                            <select class="form-control border-dark" id="caixa-campo-historico" name="IdHistorico">
                                <option disabled selected>Selecione um opção</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-documento" mas>Documento</label>
                            <input type="text" id="caixa-campo-documento" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-valor" mas>Valor</label>
                            <input type="text" id="caixa-campo-valor" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-forma-pagamento">Forma de Pagamento</label>
                            <select class="form-control" name="forma-pagamento" id="caixa-campo-forma-pagamento">
                                <option disabled="disabled" selected="selected">Selecione uma forma de pagamento</option>
                                <option>Dinheiro</option>
                                <option>Cartão Débito</option>
                                <option>Cartão de Crédito</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group" id="fonte">
                            <label for="campo-caixa-data-lancamento" mas>Data de Lançamento</label>
                            <input type="date" id="caixa-campo-data-lancamento" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group" id="fonte">
                            <label for="caixa-campo-descricao">Descrição</label>
                            <input type="text" id="caixa-campo-descricao" class="form-control" />
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="botao-cancelar"><i class="fa fa-close"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" id="caixa-botao-salvar"><i class="fa fa-save"></i> Salvar</button>
                </div>
            </div>

        </div>

    </div>
</div>
@section js{
    <script src="~/Scripts/Caixa/caixa-index.js"></script>
    <script src="~/Scripts/Caixa/caixa-cadastro.js"></script>
}
<link href="~/Content/css/Caixa/TelaCadastroCaixa.css" rel="stylesheet" />