<div id="modal-caixa" class="modal fade" tabindex="-1" role="dialog" style="z-index: 1050;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caixa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="form-group">
                <label for="campo-caixa-operacao">Operação</label>
                <select class="form-control" name="forma-pagamento" id="caixa-campo-operacao">
                    <option disabled="disabled" selected="selected">Selecione uma operação</option>
                    <option>Entrada</option>
                    <option>Saida</option>
                </select>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="caixa-campo-descricao">Descrição</label>
                        <input type="text" id="caixa-campo-descricao" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="campo-caixa-documento" mas>Documento</label>
                        <input type="text" id="caixa-campo-documento" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="campo-caixa-valor" mas>Valor</label>
                        <input type="text" id="caixa-campo-valor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="campo-caixa-forma-pagamento">Forma de Pagamento</label>
                        <select class="form-control" name="forma-pagamento" id="caixa-campo-forma-pagamento">
                            <option disabled="disabled" selected="selected">Selecione uma forma de pagamento</option>
                            <option>Dinheiro</option>
                            <option>Cartão Débito</option>
                            <option>Cartão de Crédito</option>
                        </select>
                        <div class="form-group">
                            <label for="campo-caixa-data-lancamento" mas>Data de Lançamento</label>
                            <input type="date" id="caixa-campo-data-lancamento" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="campo-caixa-historico" mas>Historico</label>
                            <select class="form-control" id="caixa-campo-historico" name="IdHistorico">
                                <option disabled selected>Selecione um opção</option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-success" id="caixa-botao-salvar">Salvar</button>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
@section js{
    <script src="~/Scripts/Caixa/caixa-index.js"></script>
    <script src="~/Scripts/Caixa/caixa-cadastro.js"></script>
}
