
<div id="modal-caixa" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Caixa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="caixa-campo-descricao">Descrição</label>
                    <input type="text" id="caixa-campo-descricao" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="campo-caixa-documento" mas>Documento</label>
                    <input type="text" id="caixa-campo-documento" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="campo-caixa-forma-pagamento">Forma de Pagamento</label>
                    <select class="form-control" name="forma-pagamento" id="caixa-campo-forma-pagamento">
                        <option disabled="disabled" selected="selected">Selecione uma forma de pagamento</option>
                        <option>Dinheiro</option>
                        <option>Cartão Débito</option>
                        <option>Cartão de Crédito</option>
                    </select>
                     

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="caixa-botao-salvar">Salvar</button>
                    </div>
                </div>
            </div>
</div>
