#clientePessoaJuridica-campo-razaoSocial {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-atividade {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-nomeFantasia {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-dataCadastro {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-cnpj {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-email {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-filial {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-telefone {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-cep {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-logradouro {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-numero {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-bairro {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-uf {
    border-color: black;
    height: 35px;
}

#clientePessoaJuridica-campo-cidade {
    border-color: black;
    height: 35px;
}

#fonte {
    color: black;
    font-weight: bold;
}

#clientePessoaJuridica-botao-salvar {
    height: 40px;
    width: 160px;
    color: white;
    background-color: mediumseagreen;
    border-radius: 5px;
}
#botao-cancelar {
    background-color: red;
    height: 40px;
    width: 160px;
    color: white;
    border-radius: 5px;
}
