
@{
    /**/

    ViewBag.Title = "Index";
}

@if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Funcionario")
{
    <h1>@Session["usuarioLogadoFuncionario"].ToString()</h1>
}
else if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Gerente")
{
    <h1> Bem Vindo, @Session["UsuarioLogadoNome"]</h1>
}
<hr />
<div class="row">
    <div class="col-lg-3">
        <div class="card bg-c-green text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h6>Contas Receber</h6>
                <h5>R$@ViewBag.ContasReceber</h5>
                <i class="icofont icofont-paper"></i>
            </div>
        </div>

    </div>
    <div class="col-lg-3">
        <div class="card bg-c-pink text-white widget-visitor-card">
            <div class="card-block-small text-center">
                <h6>Contas Pagar</h6>
                <h5>R$@ViewBag.ContasPagar</h5>
                <i class="icofont icofont-paper"></i>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (@ViewBag.Saldo < 0)
    {
        <div class="col-lg-6">
            <div class="card bg-c-pink text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h3>Valor Total</h3>
                    <h2>R$@ViewBag.Saldo</h2>
                    <i class="icofont icofont-paper"></i>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-lg-6">
            <div class="card bg-c-blue text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h3>Valor Total</h3>
                    <h2>R$@ViewBag.Saldo</h2>
                    <i class="icofont icofont-paper"></i>
                </div>
            </div>
        </div>
    }
</div>
<hr />
<link href="~/Content/css/Graficos/Graficos.css" rel="stylesheet" />