
body{

	background: url("https://i.imgur.com/leKK3ac.jpg") no-repeat;
	background-size:100%100%;
	background-attachment:fixed;
}
/* Navbar Tansparente--------------------------------*/
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}
.navbar-nav .nav-link{
	color: white;
}
.navbar-nav .nav-link:hover{
	color: #9bf0e1;
}
.divisor{
	width: 1px;
	background: white;
	margin: 12px 15px;
}
.texto-transparente{
	color: transparent;
}
#servicos {
	background: white;
	padding-top: 200px;
	padding-bottom: 20px; 
}
.servicos{
	background: white;
	padding-top: 0px;
	padding-bottom: 70px; 
}
.albuns{
	padding: 10px 0px;
}
.fundo-fosco{
	background: rgba(0,0,0,0.8);
	padding-top: 30px;
	padding-bottom: 30px; 
}
/*scroll animado*/
 /* .anime{
	opacity: 0;
    transform: translate3d(-100px,0,0);
	transition: .5s;
}
.anime-start{
	opacity: 1;
	transform: translate3d(0,0,0);
}  */

/*Rodapé*/
footer{
	background: #000000;
	padding: 400px,0px,20px,0px;
    bottom:fixed;
    left:0;
}


