<div id="modal-clientePessoaFisica" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><b>Cadastrar Cliente pessoa Fisica</b></h5>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span id="msg-error"></span>
                <div class="row">
                    <div class="col-6">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-nome">Nome<span class="text-danger">*</span></label>
                            <input type="text" required="required" id="clientePessoaFisica-campo-nome" class="form-control" />
                        </div>
                    </div>
                    <div  class="col-6">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-cpf">Cpf<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-cpf" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-dataNascimento">Data de Nascimento<span class="text-danger">*</span></label>
                            <input type="date" id="clientePessoaFisica-campo-dataNascimento" class="form-control" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-limiteCredito">Limite de Crédito<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-limiteCredito" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-email">E-mail<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-telefone">Telefone<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-telefone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-cep">Cep<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-cep" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisisca-campo-numero">Numero<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-numero" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div id="fonte" class="form-group">
                            <label for="clientePessoaFisica-campo-bairro">Bairro<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-bairro" class="form-control" />
                        </div>
                    </div>
                    <div id="fonte" class="col-4">
                        <div class="form-group">
                            <label for="clientePessoaFisica-campo-cidade">Cidade<span class="text-danger">*</span></label>
                            <input type="text" id="clientePessoaFisica-campo-cidade" class="form-control" />
                        </div>
                    </div>
                    <div id="fonte" class="col-4">
                        <div class="form-group">
                            <label for="clientePessoaFisica-campo-uf">UF<span class="text-danger">*</span></label>
                            <select  class="form-control " id="clientePessoaFisica-campo-uf" name="estados-brasil">
                                <option id="uf" value="AC">AC</option>
                                <option id="uf" value="AL">AL</option>
                                <option id="uf" value="AP">AP</option>
                                <option id="uf" value="AM">AM</option>
                                <option id="uf" value="BA">BA</option>
                                <option id="uf" value="CE">CE</option>
                                <option id="uf" value="DF">DF</option>
                                <option id="uf" value="ES">ES</option>
                                <option id="uf" value="GO">GO</option>
                                <option id="uf" value="MA">MA</option>
                                <option id="uf" value="MT">MT</option>
                                <option id="uf" value="MS">MS</option>
                                <option id="uf" value="MG">MG</option>
                                <option id="uf" value="PA">PA</option>
                                <option id="uf" value="PB">PB</option>
                                <option id="uf" value="PR">PR</option>
                                <option id="uf" value="PE">PE</option>
                                <option id="uf" value="PI">PI</option>
                                <option id="uf" value="RJ">RJ</option>
                                <option id="uf" value="RN">RN</option>
                                <option id="uf" value="RS">RS</option>
                                <option id="uf" value="RO">RO</option>
                                <option id="uf" value="RR">RR</option>
                                <option id="uf" value="SC">SC</option>
                                <option id="uf" value="SP">SP</option>
                                <option id="uf" value="SE">SE</option>
                                <option id="uf" value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="fonte" class="form-group">
                    <label for="clientePessoaFisica-campo-complemento">Complemento<span class="text-danger">*</span></label>
                    <input type="text" id="clientePessoaFisica-campo-complemento" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" id="botao-cancelar" data-dismiss="modal"><i class="fa fa-window-close"></i> Cancelar</button>

                <button type="button" class="btn" id="clientePessoaFisica-batao-salvar">
                    <i class="fa fa-save"></i> Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/Content/css/ClientePesssoaFisica/TelaCadastroPessoaFisica.css">