
@{
    ViewBag.Title = "Index";
}

<h2>Clientes Pessoa Fisica</h2>
<button data-toggle="modal" data-target="#modal-clientePessoaFisica" class="btn btn-primary">Novo Cliente Pessoa Fisica</button>
<table id="clientePessoaFisica-tabela" class="table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Data de Nascimento</th>
            <th>Limite de Crédito</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Cep</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Uf</th>
            <th>Complemento</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroPessoaFisica.cshtml")
<script src="~/Scripts/ClientePessoaFisica/clientePessoaFisica.js"></script>
