@{
    ViewBag.Title = "Index";
}

<h2><b>Clientes Pessoa Física</b></h2>
<hr />
<button id="botao-novoCliente" data-toggle="modal" data-target="#modal-clientePessoaFisica" class="btn float-right"><i class="fa fa-plus"></i>Novo Cliente</button>
<br />
<br />
<br />
<table id="cliente-pessoa-fisica-tabela" class="table table-light table-hover table-striped table-border-style">
    <thead>
        <tr>
            <th>Id</th>
            <th width="20%">Nome</th>
            <th width="20%">CPF</th>
            <th>Data Nascimento </th>
            <th>Limite de Crédito</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroPessoaFisica.cshtml")
<link rel="stylesheet" href="~/Content/css/ClientePesssoaFisica/TelaIndexPessoaFisica.css">
@section js{
    <script src="~/Scripts/ClientePessoaFisica/cliente-pessoa-fisica-index.js"></script>
}
