@{ 
    ViewBag.Title = "Index";
}

<h2>Lista Parcelas Receber</h2>

<button data-toggle="modal" data-target="#modal-parcelaReceber" class="btn btn-primary mb-3 "> Novo Parcela Receber</button>
<table class="table table-striped table-bordered table-hover"id="parcelaReceber-index">
    <thead>
        <tr>
            <th>Código</th>
            <th>Titulo Receber</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Data Vencimento</th>
            <th>Data Recebimento</th>
            <th>Ação</th>
        </tr>
    </thead>

</table>
@RenderPage("CadastroParcelaReceber.cshtml")

@section js{ 
    <script src="~/Scripts/ParcelaReceber/parcela-receber-cadastro.js"></script>
    <script src="~/Scripts/ParcelaReceber/parcela-receber-editar.js"></script>
}