body {
}
#clientePessoaFisica-campo-nome {
    border-color: black;
    height:35px;
}

#clientePessoaFisica-campo-cpf {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-dataNascimento {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-limiteCredito {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-email {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-telefone {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-cep {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-rua {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-numero {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-bairro {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-cidade {
    border-color: black;
    height: 35px;
}

#clientePessoaFisica-campo-uf {
    border-color: black;
    height: 35px;
    font-weight: bold;
}

#clientePessoaFisica-campo-complemento {
    border-color: black;
    height: 35px;
}
#clientePessoaFisica-batao-salvar {
    height: 40px;
    width: 160px;
    color: white;
    background-color: mediumseagreen;
    border-radius: 5px;

}

#botao-cancelar {
    background-color: red;
    height: 40px;
    width: 160px;
    color: white;
    border-radius: 5px;
}

#fonte {
    color: black;
    font-weight: bold;
}

#uf {
    color: black;
    font-weight: bold;
}