@{
    ViewBag.Title = "Index";
}
<h2><b>Lista de Categoria Receita</b></h2>
<hr />

<button data-toggle="modal" data-target="#modal-categoria-receita" class="btn float-right" id="botao-novaCategoria"><i class="fa fa-plus"></i>Nova Categoria</button>
<br />
<table id="categoria-receita-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Tipo de Receita</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroCategoriaReceita.cshtml")
@section js{
    <script src="~/Scripts/CategoriaReceita/cadastro-categoria-receita.js"></script>
}
<link rel="stylesheet" href="~/Content/css/CategoriaReceita/TelaIndexCategoriaReceita.css" />

