body {
    background: #0e1013;
}

h1 {
    max-width: 1000px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

    h1::after {
        content: '|';
        opacity: 1;
        margin-left: 5px;
        display: inline-block;
        animation: blink .7s infinite;
    }

@keyframes blink {
    0%, 100%

{
    opacity: 1;
}

50% {
    opacity: 0;
}
}
