
<div class="row">
    <div class="col-6"><h2>Cadastro de Conta Corrente</h2></div>
    <div class="col-6">
        <a class="btn btn-success   float-right mb-3"
           href="/ContaCorrente/index">Ir para tabela</a>
    </div>
</div>
<br />


<div class="form-group">
    <label for="contacorrente-campo-numeroconta">Numero da Conta<span class="text-danger">*</span></label>
    <input type="text" id="contacorrente-campo-numeroconta" class="form-control" />
</div>

<div class="form-group">
    <label for="contacorrente-campo-descricao">Descricao<span class="text-danger">*</span></label>
    <input type="text" id="contacorrente-campo-descricao" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-documento">Documento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-documento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-tiporeceitadespesa">Tipo receita despesa<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-tiporeceitadespesa" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-tipopagamento">Tipo Pagamento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-tipopagamento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-valor">Valor<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-valor" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-status">Status<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-status" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datalancamento">Data Lançamento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datalancamento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datavencimento">Data Vencimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datavencimento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datarecebimento">Data Recebimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datarecebimento" class="form-control" />
</div>
    
<div class="form-group">
    <lable for="contacorrente-campo-nomebanco">Nome Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-nomebanco" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-numerobanco">Numero Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-numerobanco" class="form-control" />
</div>
    <div class="modal-footer">
        <button class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>

<div class="form-group">
    <lable for="contacorrente-campo-datalancamento">Data Lançamento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datalancamento" class="form-control" />
>>>>>>> parent of 9527b3e... Merge remote-tracking branch 'origin/Paulo' into JoaoPstein
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datavencimento">Data Vencimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datavencimento" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-datarecebimento">Data Recebimento<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-datarecebimento" class="form-control" />
</div>
    
<div class="form-group">
    <lable for="contacorrente-campo-nomebanco">Nome Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-nomebanco" class="form-control" />
</div>

<div class="form-group">
    <lable for="contacorrente-campo-numerobanco">Numero Banco<span class="text-danger">*</span></lable>
    <input type="text" id="contacorrente-campo-numerobanco" class="form-control" />
</div>
    <div class="modal-footer">
        <button class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>





