body {
}
#botao-novaTransacao {
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 40px;
}
#botao-apagar {
    background-color: darkred;
    border-color: red;
    border-collapse: collapse;
    margin-right: auto;
    margin: 15px;
    margin-top: auto;
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

#botao-editar {
    margin-left: auto;
    margin-top: auto;
    background-color: darkblue;
    border-color: mediumblue;
    width: 60px;
    height: 20px;
    border-radius: 5px;
}

