body {
}
#fonte {
    color: black;
    font-weight: bold;
}

#campo{
    border-color:black;
}

#botao-irtabela {
    color: white;
    background-color: gray;
    border-color: darkgray;
    width: 235px;
    height: 40px;
    border-radius: 5px;
}

#botao-cadastrar {
    height: 40px;
    width: 160px;
    color: white;
    background-color: mediumseagreen;
    border-radius: 5px;
}