body {
}

/*#region botoes*/
#botao-editarTransacao {
    color: white;
    background-color: gray;
    border-color: darkgray;
    width: 235px;
    height: 40px;
    border-radius: 5px;
}
#botao-salvar {
    height: 40px;
    width: 160px;
    color: white;
    border-radius: 5px;
    background-color: mediumseagreen;
}
/*#endregion
*/
    
/*#region fontes*/
#fonte {
    color: black;
    font-weight: bold;
}
/*#endregion*/

/*#region campo*/
#campo{
    border-color:black; 
    font:x-large;
}
/*#endregion*/
