
<div id="modal-pessoa" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Pessoa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="campo-tituloRecebervalor">Valor</label>
                    <input type="text" id="tituloReceber-campo-valor" class="form-control" />
                </div>
                <div>
                    <div class="form-group">
                        <label for="campo-titulo-campo-quantidadeParcelas">Quantidade de Parcelas</label>
                        <input type="text" id="tituloReceber-campo-quantidadeParcelas" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="campo-tituloReceber-descricao" mas>Descrição</label>
                    <input type="text" id="tituloReceber-campo-descricao" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="campo-tituloReceber-data-lancamento" mas>Data de Lançamento</label>
                    <input type="date"id="tituloReceber-campo-data-lancamento" class="form-control" />
                </div>
                <div>
                    <div class="form-group">
                        <label for="campo-tituloReceber-data-recebimento" mas>Data de Recebimento</label>
                        <input type="date"id="tituloReceber-campo-data-recebimento" class="form-control" />
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label form="campo-titulo-receber-campo-data-vencimento" mas>Data vencimento</label>
                        <input type="date"id="tituloReceber-campo-data-vencimento" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="pessoa-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

