<form action="/tituloReceber/editar" method="post">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <a mas>Valor Total:</a>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <a mas>Quantidade de Parcelas:</a>
            </div>
        </div>
    </div>
</form>

<table id="tituloReceber-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Data Vencimento</th>
            <th>Data Pagamento</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
<button type="button" class="btn btn-info float-right mb-3">Gerar</button>
