
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Títulos a Receber</h2>

<button data-toggle="modal" data-target="#modal-pessoa" class="btn btn-primary">Nova pessoa</button>
<table id="pessoa-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Valor</th>
            <th>Quantidade de parcelas</th>
            <th>Descrição</th>
            <th>Data de Lançamento</th>
            <th>Data de Recebimento</th>
            <th>Data de Vencimento</th>
            <th>Status</th>
            <th>Complemento</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroTituloReceber.cshtml")


