@{
    ViewBag.Title = "Index";
}

<h2><b>Lista de Categoria de Despesas</b></h2>
<hr />

<button data-toggle="modal" data-target="#modal-categoria-despesa" class="btn float-right" id="botao-novaCategoria"><i class="fa fa-plus"></i>Nova Categoria</button>
<br />

<table id="categoria-despesa-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo de Despesa</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroCategoriaDespesa.cshtml")
@section js{
    <script src="~/Scripts/CategoriaDespesa/categoria-despesa-index.js"></script>
}
    <link href="~/Content/css/CategoriaDespesa/TelaIndexCategoriaDespesa.css" rel="stylesheet" />
