@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" type="text/javascript" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/javascript" href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
</head>

<h2>Lista de Contas Correntes</h2>

<div class="form-group">
    <label for="filtro-agencia">Agencia</label>
    <select class="form-control" id="filtro-agencia">
        <option value="0">Todos</option>
    </select>
</div>

<table id="relatorio-conta-corrente-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Agencia</th>
            <th>Numero da Conta</th>

        </tr>
    </thead>
</table>
@section js{
    <script  src="~/Scripts/Relatorio/relatorio-conta-corrente.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
}



