<h2>Relatorio de Caixa</h2>

<div class="form-group">
    <label for="filtro-hisotirico">Historico</label>
    <select class="form-control" id="filtro-hisotirico">
        <option value="0">Todos</option>
    </select>
</div>

<div class="form-group">
    <label for="filtro-documento">Documento</label>
    <input id="filtro-documento" />
</div>

<div clas="form-group">
    <label class="filtro-valor">Valor</label>
    <input type="text" id="filtro-valor" />
    </div>

    @*<div class="form-control">
        <label for="filtro-data">Date de Lançamento</label>
        <input type="date" id="filtro-data" />
    </div>*@

    <table id="relatorio-conta-caixa" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Documento</th>
                <th>Valor</th>
                <th>Forma de Pagamento</th>
                <th>Data de Lançamento</th>
                <th>Historico</th>

            </tr>
        </thead>
    </table>
