@{
    ViewBag.Title = "RelatorioCaixa";
}
<div class="form-group">
    <label for="filtro-cliente"></label>
    <select id="filtro-cliente" class="form-control">
        <option value="0">Todos</option>
    </select>
</div>

<div class="row">
    <div class="">
        <div class="form-group">
            <label for="filtro-data-inicial">Data Inicial</label>
            <input type="date" id="filtro-data-inicial" />
        </div>
    </div>
    <div class="">
        <div class="form-group">
            <label for="filtro-data-final"> Data Final</label>
            <input type="date" id="filtro-data-final" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-descricao">Desacrição</label>
            <input type="text" id="filtro-descricao" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-valor">Valor</label>
            <input type="text" id="filtro-valor" />
        </div>
    </div>
</div>

<table id="relatorio-titulo-receber" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

            <th></th>
        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/relatorio-titulo-receber.js"></script>
    }




