@{
    /**/

    ViewBag.Title = "RelatorioTransacao";
}

<head>
    <link rel="stylesheet" type="text/javascript" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/javascript" href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
</head>


<h2><b>Relatorio de Transação</b></h2>
<hr />
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-receita"><b>Categoria Receita</b></label>
            <select class="form-control border-dark" id="filtro-receita">
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-despesa"><b>Categoria Despesa</b></label>
            <select class="form-control border-dark" id="filtro-despesa">
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="filtro-documento"><b>Descrição</b></label>
            <input type="text" id="filtro-documento" class="form-control border-dark" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group" id="fonte">
            <label for="campo-filtro-data-inicial" mas><b>Data Inicial</b></label>
            <input type="date" id="filtro-data-inicial" class="form-control border-dark" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group" id="fonte">
            <label for="campo-filtro-data-final" mas><b>Data Final</b></label>
            <input type="date" id="filtro-data-final" class="form-control border-dark" />
        </div>
    </div>
</div>


<br />




<table id="relatorio-conta-transacao" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Descrição Transação</th>
            <th>Documento</th>
            <th>Tipo Pagamento</th>
            <th>Valor de Pagamento</th>
            <th>Data de Lançamento</th>
            <th>Data Recebimento</th>
            <th>Categoria Despesa</th>
            <th>Categoria Receita</th>
        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/Relatorio-transacao.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
}
