@{
    ViewBag.Title = "RelatorioTituloReceber";
}




<h2><b>Relatorio Titulos Receber</b></h2>
<hr />
<div class="form-group">
    <label for="filtro-receita"><b>Tipo de Receita</b></label>
    <select class="form-control border-dark" id="filtro-receita" >
        <option value="0">Todos</option>
    </select>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-documento"><b>Descrição</b></label>
            <input type="text" id="filtro-descricao" class="form-control border-dark"/>
        </div>
    </div>
    <div class="col-6">
        <div clas="form-group">
            <label class="filtro-valor"><b>Valor</b></label>
            <input type="text" id="filtro-valor" class="form-control border-dark" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div clas="form-group">
            <label for="filtro-data-inicial"><b>Date Incial do Lançamento</b></label>
            <input type="date" id="filtro-data-inicial" class="form-control border-dark" />
        </div>
    </div>
    <div class="col-6">
        <div clas="form-group">
            <label for="filtro-data-final"><b>Date Final do Lançamento</b></label>
            <input type="date" id="filtro-data-final" class="form-control border-dark" />
        </div>
    </div>
</div>

<table id="relatorio-titulo-receber" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Lançamento</th>
            <th>Tipo de Receita</th>

        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/relatorio-titulo-receber.js"></script>
}


