@{
    ViewBag.Title = "RelatorioTituloReceber";
}




<h2>Relatorio Titulos Receber</h2>

<div class="form-group">
    <label for="filtro-receita">Tipo de Receita</label>
    <select class="form-control" id="filtro-receita">
        <option value="0">Todos</option>
    </select>
</div>

<div class="row">
    <div class="">
        <div class="form-group">
            <label for="filtro-documento">Descrição</label>
            <input type="text" id="filtro-descricao" />
        </div>
    </div>
    <div class="">
        <div clas="form-group">
            <label class="filtro-valor">Valor</label>
            <input type="text" id="filtro-valor" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-control">
            <label for="filtro-data-inicial">Date Incial do Lançamento</label>
            <input type="date" id="filtro-data-inicial" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-control">
            <label for="filtro-data-final">Date Final do Lançamento</label>
            <input type="date" id="filtro-data-final" />
        </div>
    </div>
</div>

<table id="relatorio-titulo-receber" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Lançamento</th>
            <th>Tipo de Receita</th>

        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/relatorio-titulo-receber.js"></script>
}


