@{
    /**/

    ViewBag.Title = "RelatorioTransacao";
}


<h2><b>Relatorio de Transacao</b></h2>
<hr />
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-receita"><b>Categoria Receita</b></label>
            <select class="form-control border-dark" id="filtro-receita">
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-despesa"><b>Categoria Despesa</b></label>
            <select class="form-control border-dark" id="filtro-despesa">
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="filtro-documento"><b>Descrição</b></label>
            <input type="text" id="filtro-documento" class="form-control border-dark" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="form-group" id="fonte">
            <label for="campo-filtro-data-inicial" mas><b>Data Inicial</b></label>
            <input type="date" id="filtro-data-inicial" class="form-control border-dark" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group" id="fonte">
            <label for="campo-filtro-data-final" mas><b>Data Final</b></label>
            <input type="date" id="filtro-data-final" class="form-control border-dark" />
        </div>
    </div>
</div>


<br />




<table id="relatorio-conta-transacao" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>DescricaoTransacao</th>
            <th>Documento</th>
            <th>Tipo Pagamento</th>
            <th>Valor de Pagamento</th>
            <th>Data de Lançamento</th>
            <th>Data Recebimento</th>
            <th>Categoria Despesa</th>
            <th>Categoria Receita</th>
        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/Relatorio-transacao.js"></script>
}
