
@{
    ViewBag.Title = "RelatorioCaixa";
}


<h2>Relatorio de Caixa</h2>

<div class="form-group">
    <label for="filtro-historico">Historico</label>
    <select class="form-control" id="filtro-historico">
        <option value="0">Todos</option>
    </select>
</div>

<div class="row">
        <div class="">
            <div class="form-group">
                <label for="filtro-documento">Descrição</label>
                <input type="text" id="filtro-descricao" />
            </div>
        </div>
        <div class="">
            <div clas="form-group">
                <label class="filtro-valor">Valor</label>
                <input type="text" id="filtro-valor" />
            </div>
        </div>
    </div>

<div class="form-control">
        <label for="filtro-data">Date Incial do Lançamento</label>
        <input type="date" id="filtro-data" />
    </div>

@*<div class="form-control">
        <label for="filtro-data">Date Final do Lançamento</label>
        <input type="date" id="filtro-data" />
    </div>*@

<table id="relatorio-conta-caixa" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Documento</th>
            <th>Valor</th>
            <th>Forma de Pagamento</th>
            <th>Data de Lançamento</th>
            <th>Historico</th>

        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/relatorio-caixa.js"></script>
}
