@{
    ViewBag.Title = "RelatorioTransacao";
}


<h2>Relatorio de Transacao</h2>

<div class="form-group">
    <label for="filtro-receita">Categoria Receita</label>
    <select class="form-control" id="filtro-receita">
        <option value="0">Todos</option>
    </select>
</div>
<div class="form-group">
    <label for="filtro-despesa">Categoria Despesa</label>
    <select class="form-control" id="filtro-despesa">
        <option value="0">Todos</option>
    </select>
</div>

<div class="form-group">
    <label for="filtro-documento">Descrição</label>
    <input type="text" id="filtro-documento" />
</div>

<table id="relatorio-conta-transacao" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>DescricaoTransacao</th>
            <th>Documento</th>
            <th>Tipo Pagamento</th>
            <th>Valor de Pagamento</th>
            <th>Data de Lançamento</th>
            <th>Data Recebimento</th>
            <th>Categoria Despesa</th>
            <th>Categoria Receita</th>
        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/Relatorio-transacao.js"></script>
}
