@{
    ViewBag.Title = "RelatorioTituloPagar";
}




<h2><b>Relatorio Titulos a Pagar</b></h2>
<hr />
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label for="filtro-despesa"><b>Tipo de Receita</b></label>
            <select class="form-control" id="filtro-despesa">
                <option value="0">Todos</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-documento"><b>Descrição</b></label>
            <input type="text" id="filtro-descricao" class="form-control border-dark" />
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label class="filtro-valor"><b>Valor</b></label>
            <input type="text" id="filtro-valor" class="form-control border-dark" />
        </div>
    </div>
</div>



<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-data-inicial"><b>Data Incial do Lançamento</b></label>
            <input type="date" id="filtro-data-inicial" class="form-control border-dark"/>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="filtro-data-final"><b>Data Final do Lançamento</b></label>
            <input type="date" id="filtro-data-final" class="form-control border-dark"/>
        </div>
    </div>
</div>

<table id="relatorio-titulo-pagar" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Lançamento</th>
            <th>Tipo de Despesa</th>

        </tr>
    </thead>
</table>
@section js{
    <script src="~/Scripts/Relatorio/relatorio-titulo-pagar.js"></script>
}

