<div id="modal-clientepessoajuridica" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Cadastrar Cliente Pessoa Juridica</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="campo-clientePessoaJuridica-campo-razaoSocial" mas>Razão Social</label>
                    <input type="text" id="clientePessoaJuridica-campo-razaoSocial" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-atividade" mas> Atividade</label>
                    <input type="text" id="clientePessoaJuridica-campo-atividade" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-nomeFantasia" mas> Nome Fantasia</label>
                    <input type="text" id="clientePessoaJuridica-campo-nomeFantasia" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-dataCadastro" mas> Data Cadastro</label>
                    <input type="date" id="clientePessoaJuridica-campo-dataCadastro" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-cnpj" mas>CNPJ</label>
                    <input type="text" id="clientePessoaJuridica-campo-cnpj" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-email" mas>E Mail</label>
                    <input type="text" id="clientePessoaJuridica-campo-email" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-filial" mas>Filial</label>
                    <input type="text" id="clientePessoaJuridica-campo-filial" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-telefone" mas> Telefone</label>
                    <input type="text" id="clientePessoaJuridica-campo-telefone" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-cep" mas> CEP</label>
                    <input type="text" id="clientePessoaJuridica-campo-cep" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-logradouro" mas>Logradouro</label>
                    <input type="text" id="clientePessoaJuridica-campo-logradouro" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-numero" mas> Numero</label>
                    <input type="text" id="clientePessoaJuridica-campo-numero" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-bairro" mas> Bairro</label>
                    <input type="text" id="clientePessoaJuridica-campo-bairro" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-uf" mas>UF</label>
                    <input type="text" id="clientePessoaJuridica-campo-uf" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="clientePessoaJuridica-campo-cidade" mas>Cidade</label>
                    <input type="text" id="clientePessoaJuridica-campo-cidade" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="pessoa-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

  

