nu
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes Pessoas Juridicas</h2>
<a class="btn btn-primary mb-3" href="clientespessoasjuridicas/cadastro">Novo</a> 
<table class="table table-bordered table-striped table-hover" id="clientespessoasjuridicas">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
            <th>Atividade</th>
            <th>Nome Fantasia</th>
            <th>Data Cadastro</th>
            <th>CNPJ</th>
            <th>Email</th>
            <th>Filial</th>
            <th>Telefone</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Numero</th>
            <th>Bairro</th>
            <th>UF</th>
            <th>Cidade</th>
            <th>Ação</th>
        </tr>
    </thead>

</table> 
