
@{
    ViewBag.Title = "Index";
}

@if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Funcionario")
{
    <h1>@Session["usuarioLogadoFuncionario"].ToString()</h1>
}
else if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Gerente")
{
    <h1> Bem Vindo, @Session["UsuarioLogadoNome"]</h1>
}


<div class="card-block">
    <h2 f-w-400>275,00</h2>
    <p class="text-muted f-w-600 f-16"></p>
    <span class="text-c-blue">Saldo em Caixa</span>
</div>
<canvas id="amount-processed" height="196" width="982" style="display: block; width: 491px; height: 98px;"></canvas>