@{
    ViewBag.Title = "Index";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

<div style="width:313px; height:400px">
    <canvas id="myChart" width="500" height="400"></canvas>
</div>
<script>

                var ctx = document.getElementById('myChart');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['Contas Pagar', 'Contas Receber'],
                        datasets: [{
                            label: '# of Votes',
                            data: [ '@ViewBag.ContasPagar', '@ViewBag.ContasReceber' ],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',

                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
</script>
@if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Funcionario")
{
    <h1>@Session["usuarioLogadoFuncionario"].ToString()</h1>
}
else if (Session["usuarioLogadoTipoFuncionario"].ToString() == "Gerente")
{
    <h1> Bem Vindo, @Session["UsuarioLogadoNome"]</h1>
}


