<div class="row">
    <div class="col-6">

        <h2>Cadastro de Agencias</h2>

    </div>
        <div class="col-6">
            <a class="btn btn-primary   float-right mb-3"
               href="/Agencia/index"><i class="fa fa-backward"></i>Ir para tabela</a>
        </div>
</div>
<br />
<form action="/Agencia/cadastro" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <label for="campo-banco">Nome do Banco<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="banco" id="campo-banco" required="" />
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-6">
                        <label for="campo-nomeAgencia">Agencia<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="nomeAgencia" id="campo-nomeAgencia" required="" />
                    </div>
                    <div class="col-6">
                        <label for="campo-numeroAgencia">Numero da Agencia<span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="numeroAgencia" id="campo-numeroAgencia" required="" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>
</form>
