<link rel="stylesheet" href="~/Content/css/Agencia/TelaCadastroAgencia.css">

<div class="container container-fluid">
    <h2><b>Cadastro de Agencias</b></h2>

    <hr />

    <div>

        <a id="botao-irtabela" class="btn float-right form-group"
           href="/Agencia/index"><i class="fa fa-backward"></i>Ir para tabela</a>
    </div>
    <br />
    <br />
    <br />
    <form action="/Agencia/cadastro" method="post">
        <div class="row">
            <div class="col-12">
                <label id="fonte-banco" for="campo-banco">Nome do Banco<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="banco" id="campo-banco" required="" />
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-6">
                        <label id="fonte-nomeagencia" for="campo-nomeAgencia"><b>Agencia</b><span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="nomeAgencia" id="campo-nomeAgencia" required="" />
                    </div>
                    <div class="col-6">
                        <label id="fonte-numeroagencia" for="campo-numeroAgencia"><b>Numero da Agencia</b><span class="text-danger">*</span></label>
                        <input class="form-control" type="text" name="numeroAgencia" id="campo-numeroAgencia" required="" />
                    </div>
                </div>
            </div>
        </div>

        <button id="botao-salvar" class="btn float-right mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </form>
</div>


