<div id="modal-agencia" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Agencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="agencia-campo-banco">Banco</label>
                    <input type="text" id="agencia-campo-banco" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="agencia-campo-nomeagencia">Nome da Agencia</label>
                    <input type="text" id="agencia-campo-nomeagencia" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="campo-agencia-numeroagencia" mas>Numero da Agencia</label>
                    <input type="text" id="agencia-campo-numeroagencia" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="pessoa-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>
