<h2>Cadastro de Agencias</h2>

<form action="/agencia/inserir" method="post">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <label for="campo-nome">Nome da Agencia<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="nomeAgencia" id="campo-nomeagencia" required="" />
            </div>
            <div class="col-12">
                <label for="campo-banco">Nome do Banco<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="nomeBanco" id="campo-nomeBanco" required="" />
            </div>
        </div>
    </div>
    <div class="col-12">
        <label for="campo-estado">Numero Agencia<span class="text-danger">*</span></label>
        <input class="form-control" type="text" name="numeroAgencia" id="campo-numeroAgencia" required=""/>
    </div>

    <div class="modal-footer">
    <button class="btn btn-primary float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>
</form>