

@{
    ViewBag.Title = "Index";
}
<h2><b>Agencias</b></h2>
<hr />
<a id="botao-novaAgencia" class="btn float-right mb-3" href="/Agencia/Cadastro"> <i class="fa fa-plus"></i>Nova Agencia </a>
<br />
<br />
<br />

<table id="agencia-tabela" class="table table-light table-hover table-striped table-border-style">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome do Banco</th>
            <th>Nome daAgencia</th>
            <th>Numero da Agencia</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Agencia agencia in ViewBag.Agencias)
        {
            <tr>
                <td>@agencia.Id</td>
                <td>@agencia.Banco</td>
                <td>@agencia.NomeAgencia</td>
                <td>@agencia.NumeroAgencia</td>
                <td>
                    <a id="botao-editar" class="btn btn-primary float-right mb-3" href="/agencia/editar?id=@agencia.Id"><i class="fa fa-edit"></i>Editar</a>
                    <a id="botao-apagar" class="btn btn-danger float-right mb-3" href="/agencia/apagar?id=@agencia.Id"><i class="fa fa-trash"></i>Apagar </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="~/Content/css/Agencia/TelaIndexAgencia.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#agencia-tabela').DataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por página",
                "zeroRecords": "Nada encontrado - Desculpe",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Nenhum registro disponivel",
                "infoFiltered": "(filtrado de _MAX_ registros no total)",
                "search": "Procurar:"
            }
        });

    });
</script>
@section js{
<script src="~/Scripts/Agencia/Agencia.js"></script>
}




