
@{
    ViewBag.Title = "Index";
}

<h2>Agencia</h2>

<table id="agencia-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Código do Banco</th>
            <th>Nome Agencia</th>
            <th>Numero Agencia</th>
        </tr>
    </thead>
</table>

