

@{
    ViewBag.Title = "Index";
}

<h2>Agencia</h2>

<button class="btn btn-primary   float-right mb-3"
   href="/agencia/cadastro.cshtml   ">Nova Agencia</button>

<table id="agencia-index" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome Banco</th>
            <th>Nome Agencia</th>
            <th>Numero Agencia</th>
            <th>Ação</th>
        </tr>
    </thead>
   

</table>


