

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-6"><h2>Agencia</h2></div>
    <div class="col-6"><a class="btn btn-success   float-right mb-3"
           href="/agencia/cadastro">Nova Agencia</a>
    </div>
</div>




<table id="agencia-tabela" class="table table-light table-hover table-border-style table-striped">
    <thead>
        <tr>
            <th >Código</th>
            <th>Nome Banco</th>
            <th>Nome Agencia</th>
            <th>Numero Agencia</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Agencia agencia in ViewBag.Agencias)
        {
            <tr>
                <td>@agencia.Id</td>
                <td>@agencia.Banco</td>
                <td>@agencia.NomeAgencia</td>
                <td>@agencia.NumeroAgencia</td>
                <td>
                    <a class="btn btn-primary" href="/agencia/alterar?id=@agencia.Id"><i class="fa fa-edit"></i> Alterar</a>
                    <a class="btn btn-danger" href="/agencia/apagar?id=@agencia.Id"><i class="fa fa-trash"></i> Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section js {
    <script src="~/Scripts/Agencia/Agencia.js"></script>
}



