

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-6"><h2>Agencia</h2></div>
    <div class="col-6"><a class="btn btn-success float-right mb-3"
           href="/agencia/cadastro"><i class="fa fa-plus"></i>Nova Agencia</a>
    </div>
</div>




<table id="agencia-tabela" class="table table-light table-hover table-border-style table-striped">
    <thead>
        <tr>
            <th >Código</th>
            <th>Nome Banco</th>
            <th>Nome Agencia</th>
            <th>Numero Agencia</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Agencia agencia in ViewBag.Agencias)
        {
            <tr>
                <td>@agencia.Id</td>
                <td>@agencia.Banco</td>
                <td>@agencia.NomeAgencia</td>
                <td>@agencia.NumeroAgencia</td>
                <td>
                    
                        <div style="margin-left: 5px">
                            <a id="botao-editar"  class="btn btn-primary float-right mb-3" href="/agencia/editar?id=@agencia.Id">
                            <i class="fa fa-edit"></i>Editar</a>
                      </div>
                        <div style="margin-right: 110px">
                            <a id="botao-apagar" class="btn btn-danger float-right mb-3" href="/agencia/apagar?id=@agencia.Id">
                            <i class="fa fa-trash"></i>Apagar</a>
                        </div>
                    
                </td>
            </tr>
        }
    </tbody>
</table>




