<div id="modal-fornecedor" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Fornecedor</h5>
                <button type="button" class="close" data-dismiss="modal" arial-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <!--razao-->
                            <label for="fornecedor-campo-razaoSocial"><b>Razão Social</b> <span class="text-danger">*</</span></label>
                            <input type="text" id="fornecedor-nome-razaoSocial" class="form-control border-dark" placeholder="Digite a razão socila da empresa" />
                        </div>
                    </div>
                    <div class="col-6">

                        <div class="form-group">
                            <!--fantasia-->
                            <label for="fornecedor-campo-nomeFantasia"><b>Nome Fantasia</b></label>
                            <input type="text" id="fornecedor-campo-nomeFantasia" class="form-control border-dark" placeholder="Digite o nome fantasia da empresa" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <!--cnpj-->
                            <label for="fornecedor-campo-cnpj"><b>CNPJ</b> <span class="text-danger">*</span></label>
                            <input type="text" id="fornecedor-campo-cnpj" class="form-control border-dark" placeholder="Digite o CNPJ da empresa" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <!--data-->
                            <label for="fornecedor-campo-dataCadastro"><b>Data de Cadastro</b></label>
                            <input type="date" id="fornecedor-campo-dataCadastro" class="form-control border-dark" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--email-->
                    <label for="fornecedor-campo-email"><b>E-mail</b> <span class="text-danger">*</span> </label>
                    <input type="text" id="fornecedor-campo-email" class="form-control border-dark" placeholder="Digite seu E-mail" />
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="fornecedor-campo-telefone"><b>Telefone</b> <span class="text-danger">*</span> </label>
                            <input type="text" id="fornecedor-campo-telefone" class="form-control border-dark" placeholder="Digite o telefone " />
                        </div>
                    </div>

                    <div class="col-4">

                        <div class="form-group">
                            <label for="fornecedor-campo-cep"><b>Cep</b></label>
                            <input type="text" id="fornecedor-campo-cep" class="form-control border-dark" placeholder="Digite o cep" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label for="fornecedor-campo-logradouro"><b>Logradouro</b></label>
                            <input type="text" id="fornecedor-campo-logradouro" class="form-control border-dark" placeholder="Digite o nome da rua" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fornecedor-campo-cidade"><b>Cidade</b></label>
                            <input type="text" id="fornecedor-campo-cidade" class="form-control border-dark" placeholder="Digite o nome da cidade" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fornecedor-campo-bairro"><b>Bairro</b></label>
                            <input type="text" id="fornecedor-campo-bairro" class="form-control border-dark" placeholder="Digite o nome do bairro" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="fornecedor-campo-numero"><b>Numero</b></label>
                            <input type="text" id="fornecedor-campo-numero" class="form-control border-dark" placeholder="Digite o numero residencia" />
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label for="fornecedor-campo-sigla"><b>Sigla do Estado</b></label>
                            <select class="form-control border-dark" name="estados-brasil" id="fornecedor-campo-sigla">
                                <option value="AC">AC</option>
                                <option value="AL">AL</option>
                                <option value="AP">AP</option>
                                <option value="AM">AM</option>
                                <option value="BA">BA</option>
                                <option value="CE">CE</option>
                                <option value="DF">DF</option>
                                <option value="ES">ES</option>
                                <option value="GO">GO</option>
                                <option value="MA">MA</option>
                                <option value="MT">MT</option>
                                <option value="MS">MS</option>
                                <option value="MG">MG</option>
                                <option value="PA">PA</option>
                                <option value="PB">PB</option>
                                <option value="PR">PR</option>
                                <option value="PE">PE</option>
                                <option value="PI">PI</option>
                                <option value="RJ">RJ</option>
                                <option value="RN">RN</option>
                                <option value="RS">RS</option>
                                <option value="RO">RO</option>
                                <option value="RR">RR</option>
                                <option value="SC">SC</option>
                                <option value="SP">SP</option>
                                <option value="SE">SE</option>
                                <option value="TO">TO</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="fornecedor-campo-complemento"><b>Complemento</b></label>
                            <input type="text" id="fornecedor-campo-complemento" class="form-control border-dark" placeholder="Digite um complemento se houver" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary border-dark" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary border-dark" id="fornecedor-batao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/Content/css/Fornecedor/TelaCadastroFornecedor.css">
