
@{
    ViewBag.Title = "CadastroFornecedor";
}




<form action="/Fornecedor/CadastroFornecedor" method="post">

    <div class="form-group">
        <label for="fornecedor-campo-nome">Fornecedor</label>
        <input type="text" id="fornecedor-campo-nome" class="form-control" />
    </div>

    <div class="form-group">
        <label for="fornecedor-campo-nome-fantasia">Nome Fantasia</label>
        <input type="text" id="fornecedor-campo-nome-fantasia" class="form-control" />
    </div>

    <div class="form-group">
        <label for="data-cadastro">Data do Cadastro</label>
        <input type="datetime" id="data-cadastro" class="form-control" />
    </div>

    <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" id="cnpj" class="form-control" />
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" id="telefone" class="form-control" />
    </div>

    <div class="form-group">
        <label for="cep">CEP</label>
        <input type="text" id="cep" class="form-control" />
    </div>


    <div class="form-group">
        <label for="logradouro">CEP</label>
        <input type="text" id="logradouro" class="form-control" />
    </div>

    <div class="form-group">
        <label for="numero">Numero</label>
        <input type="number" id="numero" class="form-control" />
    </div>

    <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" class="form-control" />
    </div>

    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" class="form-control" />
    </div>

    <div class="form-group">
        <label for="uf">Sigla Estado</label>
        <input type="text" id="uf" class="form-control" />
    </div>


    <button type="submit" class="btn btn-success">Salvar</button>

</form>

