
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Fornecedor</h2>

<button data-toggle="modal" data-target="#modal-fornecedor" class="btn btn-primary">Novo Cliente Pessoa Fisica</button>
<table id="fornecedor-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Data do Cadastro</th>
            <th>CNPJ</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>CEP</th>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Sigla do Estado</th>
            <th>Complemnto</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@RenderPage("CadastroFornecedor.cshtml")

@section js{
    <script src="~/Scripts/Fornecedor/Fornecedor-index.js"></script>
    }
