@{
    ViewBag.Title = "Index";
}

<h2>Lista de Fornecedor</h2>

<button data-toggle="modal" data-target="#modal-fornecedor" class="btn btn-primary">Novo Fornecedor</button>
<table id="fornecedor-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@RenderPage("CadastroFornecedor.cshtml")

@section js{
    <script src="~/Scripts/Fornecedor/Fornecedor-index.js"></script>
}
