
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Fornecedores</h2>


<table id="fornecedor-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Data do Cadastro</th>
            <th>CNPJ</th>
            <th>E-mail</th>
            <th>Telefone</th>
            <th>Logradouro</th>
            <th>Número</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Sigla do Estado</th>
            <th>Complemnto</th>
            <th>Registro Ativo</th>
        </tr>
    </thead>
</table>