<div id="modal-tituloPagar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Titulo a Pagar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-fornecedor">Fornecedores</label>
                            <select class="form-control" id="modal-tituloPagar-fornecedor" name="idFornecedor"></select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-categoria-despesa">Categoria despesas</label>
                            <select class="form-control" id="modal-tituloPagar-categoria-despesa" name="idCategoriaDespesa"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="modal-tituloPagar-descricao">Descrição</label>
                                <input type="text" id="modal-tituloPagar-descricao" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-forma-pagamento">Forma de Pagamento</label>
                            <select class="form-control" id="modal-tituloPagar-forma-pagamento">
                                <option disabled="disabled" selected="selected">Selecione uma forma de pagamento</option>
                                <option>Dinheiro</option>
                                <option>Cartão Débito</option>
                                <option>Cartão de Crédito</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-status">Status</label>
                            <select class="form-control" id="modal-tituloPagar-status">
                                <option disabled="disabled" selected="selected">Selecione um status</option>
                                <option>Pendente</option>
                                <option>Pago</option>
                                <option>Cancelado</option>
                                <option>Pago parcialmente</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <label for="modal-tituloPagar-caixa">Caixa</label>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" id="modal-tituloPagar-caixa" class="form-control" />
                    </div>

                    <div class="col-4">
                        <label for="modal-tituloPagar-banco">Banco</label>
                    </div>
                    <div class="col-2">
                        <input type="checkbox" id="modal-tituloPagar-banco" class="form-control" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-data-lancamento" mas>Data de Lançamento</label>
                            <input type="date" id="modal-tituloPagar-data-lancamento" class="form-control" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-data-recebimento" mas>Data de Recebimento</label>
                            <input type="date" id="modal-tituloPagar-data-recebimento" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label form="modal-tituloPagar-data-vencimento" mas>Data Vencimento</label>
                            <input type="date" id="modal-tituloPagar-data-vencimento" class="form-control" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-quantidade-parcela">Quantidade de Parcelas</label>
                            <input type="number" id="modal-tituloPagar-quantidade-parcela" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="modal-tituloPagar-complemento">Complemento</label>
                            <input type="text" id="modal-tituloPagar-complemento" class="form-control" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="tituloPagar-campo-valor-total">Valor Total</label>
                            <input type="text" id="tituloPagar-campo-valor-total" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="titulo-pagar-botao-salvar">Salvar</button>
        </div>
    </div>
</div>
@section css{
    <link href="~/Content/css/select2.css"
          rel="stylesheet" />
}

@section js{
    <script src="~/Scripts/TituloPagar/IdFornecedores.js"></script>
    <script src="~/Scripts/TituloPagar/IdCategoriaDespesas.js"></script>
    <script src="~/Scripts/select2.js"></script>
}
