<div class="row">
    <div class="col-6">
        <div class="form-group">
            <span class="font-weight-bold">Valor Total:</span>
            <span>@ViewBag.TituloPagar.ValorTotal</span>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <span class="font-weight-bold">Quantidade de Parcelas:</span>
            <span>@ViewBag.TituloPagar.QuantidadeParcela</span>
        </div>
    </div>
</div>
<button type="button" id="gerar-parcelas" class="btn btn-info float-right mb-3">Gerar Parcelas</button>

<table id="titulo-pagar-parcelas-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Data Vencimento</th>
            <th>Data Pagamento</th>
            <th>Valor</th>
            <th>Status</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

<div id="modal-tituloPagar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Parcelas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label form="tituloPagar-campo-data-vencimento" mas>Data Vencimento<span class="text-danger">*</span></label>
                                <input type="date" id="tituloPagar-campo-data-vencimento" class="form-control" name="DataVencimento" />
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="form-group">
                                <label form="tituloPagar-campo-data-pagamento" mas>Data Pagamento<span class="text-danger">*</span></label>
                                <input type="date" id="tituloPagar-campo-data-pagamento" class="form-control" name="DataPagamento" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="tituloPagar-campo-valor" mas>Valor<span class="text-danger">*</span></label>
                                <input type="text" id="tituloPagar-campo-valor" class="form-control" name="Valor" />
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="tituloPagar-campo-status" mas>Status<span class="text-danger">*</span></label>
                            <select class="form-control" id="tituloPagar-campo-status" name="Status">
                                <option disabled="disabled" selected="selected">Selecione um status</option>
                                <option>Pendente</option>
                                <option>Pago</option>
                                <option>Cancelado</option>
                                <option>Pago parcialmente</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section js{
    <script src="~/Scripts/TituloPagar/titulo-pagar-editar.js"></script>
}
