@{
    /**/

    ViewBag.Title = "Index";
}
<h2>Lista de Titulos a Pagar</h2>
<hr />
<div class="row">
    <div class="col-12">
        <a href="/titulopagar/cadastro" id="botao-novoTituloPagar" class="btn btn-info float-right mb-3">
            <i class="fa fa-plus"></i>Novo Titulo a Pagar
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table id="tituloPagar-tabela" class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Fornecedor</th>
                    <th>Categoria Despesa</th>
                    <th>Forma de <br />Pagamento</th>
                    <th>Caixa</th>
                    <th>Valor Total</th>
                    <th>Status</th>
                    <th>Data Lancamento</th>
                    <th>Data Recebimento</th>
                    <th>Data Vencimento</th>
                    <th>Quantidade <br /> de Parcelas</th>
                    <th>Descricao</th>
                    <th>Acao</th>
                </tr>
            </thead>
        </table>

    </div>
</div>
@section js{
    <script src="~/Scripts/TituloPagar/titulo-pagar-index.js"></script>
}

<link  rel="stylesheet" href="~/Content/css/TituloPagar/TelaIndexTituloPagar.css"/>


