
@{
    ViewBag.Title = "Index";
}

<h2>Titulos a Pagar</h2>

<a class="btn btn-primary mb-3"
   href="/tituloPagar/cadastro">Novo</a>


<table id="tituloPagar-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Forma de Pagamento</th>
            <th>Caixa</th>
            <th>Valor Total</th>
            <th>Status</th>
            <th>Data Lançamento</th>
            <th>Data Recebimento</th>
            <th>Data Pagamento</th>
            <th>Complemento</th>
            <th>Quantidade de Parcelas</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

