body {
    background: #808080;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 90px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 400px;
    background-color: white;
}



