
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Pessoas</h2>

<button data-toggle="modal" data-target="#modal-cadastro-conta-corrente" class="btn btn-primary">Nova pessoa</button>
<table id="cadastro-conta-corrente" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Agencia</th>
            <th>Numero da Conta</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroModal.cshtml")

