
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Contas Correntes</h2>

<<<<<<< HEAD
<button data-toggle="modal" data-target="#modal-cadastro-conta-corrente" class="btn btn-primary">Nova Conta Corrente</button>
<table id="cadastro-conta-corrente-tabela" class="table table-hover table-bordered table-striped">
=======
<button data-toggle="modal" data-target="#modal-cadastro-conta-corrente" class="btn btn-primary">Nova pessoa</button>
<table id="cadastro-conta-corrente" class="table table-hover table-bordered table-striped">
>>>>>>> parent of 9527b3e... Merge remote-tracking branch 'origin/Paulo' into JoaoPstein
    <thead>
        <tr>
            <th>Código</th>
            <th>Agencia</th>
            <th>Numero da Conta</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
<<<<<<< HEAD
@RenderPage("Cadastro-conta-corrente.cshtml")
@section js {
    <script src="~/Scripts/CadastroContaCorrente/Cadastro-conta-corrente-cadastro.js"></script>
    <script src="~/Scripts/CadastroContaCorrente/Cadastro-conta-corrente-editar.js"></script>
}
=======
@RenderPage("CadastroModal.cshtml")

>>>>>>> parent of 9527b3e... Merge remote-tracking branch 'origin/Paulo' into JoaoPstein
