
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Contas correntes</h2>

<button type="button"  data-toggle="modal" data-target="#modal-cadastro-conta-corrente" class="btn btn-primary">Nova Agencia</button>

<table id="cadastro-conta-corrente-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            @*<th>Agencia</th>
            <th>Numero da Conta</th>*@
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("Cadastro-conta-corrente.cshtml")
@section js {
    <script src="~/Scripts/CadastroContaCorrente/Cadastro-conta-corrente-Editar.js"></script>
    <script src="~/Scripts/CadastroContaCorrente/cadastro-conta-corrente-cadastro.js"></script>
    }

