
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Contas Correntes</h2>

<button data-toggle="modal" data-target="#modal-cadastro-conta-corrente" class="btn btn-primary">Nova Conta Corrente</button>
<table id="cadastro-conta-corrente-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Agencia</th>
            <th>Numero da Conta</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("CadastroContaCorrente.cshtml")
@section js {
    <script src="~/Scripts/CadastroContaCorrente/Cadastro-conta-corrente-cadastro.js"></script>
    <script src="~/Scripts/CadastroContaCorrente/Cadastro-conta-corrente-editar.js"></script>
}
