

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Grafico titulos (a pagar/ a Receber)</h2>
</div>

<div class="row">
    <div class="form-group">
        <div class="">
            <label for="data-inicial">Data Inicial</label>
            <input type="date" id="data-inicial" class="form-control " />
        </div>
    </div>

    <div class="form-group">
        <div class="">
            <label for="data-final">Data final</label>
            <input type="date" id="data-final" class="form-control ml-2" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div id="morris-extra-area"></div>
    </div>
</div>

@section js{
    <!-- Morris Chart js -->
    <script src="~/Content/tema/bower_components/raphael/js/raphael.min.js"></script>
    <script src="~/Content/tema/bower_components/morris.js/js/morris.js"></script>
    <script src="~/Scripts/Relatorio/grafico-titulo.js"></script>
}
