
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Historicos</h2>

<button   id="botao-novoHistorico" data-toggle="modal" data-target="#modal-historico" class="btn btn-primary float-right">
    <i class="fa fa-plus"></i> Novo Historico
</button>
<table id="historico-tabela" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>

@RenderPage("CadastroHistorico.cshtml")
<link rel="stylesheet" href="~/Content/css/Historico/TelaIndexHistorico.css">
@section js{
    <script src="~/Scripts/Historico/historico.js"></script>
}