body {
}

#botao-login {
    background-color: deepskyblue;
    color: white;
    height: 50px;
    text-transform: uppercase;
    width: 174px;
    border: none;
    padding: 0 20px;
    border-radius:5px;
}

#campo-usuario {
    border-top: 50px;
    border: groove;
    height: 40px;
    width: 280px;
    border-radius: 5px;
}

#campo-senha {
    border-top:5px; 

    border-color:brown;
    border:groove;
    height: 40px;
    width: 280px;
    border-radius: 5px;
}
