<div id="modal-login" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cadastrar Novo Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="login-campo-funcionario">Funcionario</label>
                        <select class="form-control" id="login-campo-funcionario" name="idFuncionario"></select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="login-campo-usuario">Usuario</label>
                            <input type="text" id="login-campo-usuario" class="form-control" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="login-campo-senha">Senha</label>
                            <input type="password" id="login-campo-senha" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="login-botao-salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section js{
    <script src="~/Scripts/Login/login-index.js"></script>
    <script src="~/Scripts/Login/login-cadastro.js"></script>
}
