
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<table id="login-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Usuário</th>
            <th>Senha</th>
        </tr>
    </thead>
</table>
