@{
    ViewBag.Title = "Index";
}


<h2>Lista de usuarios</h2>

<button data-toggle="modal" data-target="#modal-login" class="btn btn-primary">Novo Usuario</button>

<table id="login-tabela" class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Usuário</th>
            <th>Senha</th>
        </tr>
    </thead>
</table>

@RenderPage("CadastroLogin.cshtml")
