
@{
    ViewBag.Title = "SemPermissao";
}

<h2 class="display-4 text-danger"><i class="fa fa-close"></i><strong> Sem Permissão</strong> </h2>

<p class="lead">O usuario logado não tem permissão para acessar esta página. Entre em contato com o adminitrador para mais informações</p>

