
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Funcionarios</h2>

<hr />
<div class="row">
    <div class="col-12">

        <button data-toggle="modal" data-target="#modal-funcionario" class="btn btn-info float-right">
            <i class="fa fa-plus"></i>Novo Funcionario
        </button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-12">
        <table  id="funcionario-tabela" class="table table-hover table-bordered  table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome do funcionário</th>
                    <th>Tipo do funcionário</th>
                    <th>Usuario</th>
                    <th>Ação</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@RenderPage("Cadastro.cshtml")

@section js{
    <script src="~/Scripts/Funcionario/Funcionario-index.js"></script>
}
