@{
    ViewBag.Title = "Index";
}
<h2><b>Lista de Funcionarios</b></h2>
<hr />
<button data-toggle="modal" data-target="#modal-funcionario" class="btn float-right" id="botao-novoFuncionario"><i class="fa fa-plus"></i>Novo Funcionario</button>
<br />
<br />
<br />
<table id="funcionario-tabela" class="table table-light table-hover table-striped table-border-style">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome do funcionário</th>
            <th width="25%">Tipo do funcionário</th>
            <th width="25%">Usuario</th>
            <th>Ação</th>
        </tr>
    </thead>
</table>
@RenderPage("Cadastro.cshtml")
@section js{
    <script src="~/Scripts/Funcionario/Funcionario-index.js"></script>
    }
    <link href="~/Content/css/Funcionario/TelaIndexFuncionario.css" rel="stylesheet" />