<div class="row">
    <div class="col-6">

        <h2>Cadastro de Parcelas a Pagar</h2>

    </div>
    <div class="col-6">
        <a class="btn btn-primary   float-right mb-3"
           href="/parcelasPagar/index">Ir para tabela</a>
    </div>
</div>
<br />
<form action="/ParcelasPagar/cadastro" method="post">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <label for="campo-valor">Valor<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="valor" id="campo-valor" required="" />
            </div>
            <div class="col-6">
                <label for="campo-status">Status<span class="text-danger">*</span></label>
                <select class="form-control" type="combobox" name="status" id="campo-status" required="">
                    <option disabled="disabled" selected="selected">Selecione um Status</option>
                    <option>Aberto</option>
                    <option>Pendente</option>
                    <option>Pago</option>
                </select>
            </div>


            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="campo-dataVencimento">Data Vencimento<span class="text-danger">*</span></label>
                            <input class="form-control" type="date" name="dataVencimento" id="campo-dataVencimento" required="" />
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="campo-dataPagamento">Data Pagamento<span class="text-danger">*</span></label>
                        <input class="form-control" type="date" name="dataPagamento" id="campo-dataPagamento" required="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal-footer">
        <button href="parcelaPagar/index" class="btn btn-grd-success float-left mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>
</form>
