<div class="container" id="perfil-editar-senha">
<h2>Tela de edição da senha</h2>
  
<br />
    <div class="row">
        <div class="col-12">
            <label id="fonte">Senha Atual</label>
            <br />
            <input type="text" class="border-dark" id="senha-atual"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <label id="fonte">Nova Senha</label>
            <br />
            <input type="text" class="border-dark" id="nova-senha"/>
        </div>
    <br />  
        <div class="col-4">
            <label id="fonte">Confirme sua senha</label>
            <br />
            <input type="text" class="border-dark"  id="campo-confirmar-senha"/>
        </div>
    </div>
    <button class="btn float-right" id="botao-confirmar">Confirmar</button>
</div>
<link href="~/Content/css/Perfil/TelaEditarSenha.css" rel="stylesheet" />
