<div class="container" id="perfil-editar-informacoes">
    <div class="col-12">
        <img src="~/Content/Imagem/homem (2).png" />
    </div>
    <br />
    <label id="fonte">Nome do usuario</label>
    <br />
    <input type="text" id="campo-nome"/>
    <br />
    <label id="fonte">Tipo de usuario</label>
    <br />
    <select id="campo-tipo-usuario">
        <option id="fonte">Gerente</option>
        <option id="fonte">Funcionario</option>
    </select>
    <br />
    <label id="fonte">Usuario de login</label>
    <br />
    <input type="text" id="campo-usuario-login"/>
</div>
<link href="~/Content/css/Perfil/TelaPerfil.css" rel="stylesheet" />
