<h2>Sejá bem vindo ao seu perfil, @Session["usuarioLogadoNome"]</h2>
<div class="row m-b-30">
    <div class="col-12 ">
        <ul class="nav nav-tabs md-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#perfil-editar-informacoes" role="tab">Informacões do Perfil</a>
                <div class="slide"></div>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#perfil-editar-senha" role="tab">Editar Senha</a>
                <div class="slide"></div>
            </li>

        </ul>
        <div class="tab-content card-block">
            <div class="tab-pane active" id="perfil-editar-informacoes" role="tabpanel">
                @RenderPage("EditarInformacaoBasica.cshtml")
            </div>
            <div class="tab-pane" id="perfil-editar-senha" role="tabpanel">
                @RenderPage("EditarSenha.cshtml")
            </div>
        </div>
    </div>
</div>